@font-face {
    font-family: "PTsans";
    src: url(../fonts/ptsans.woff2);
    src: url(../fonts/ptsans.woff);
}

@font-face {
    font-family: 'PTsansBold';
    src: url(../fonts/ptsansbold.woff2);
    src: url(../fonts/ptsansbold.woff);
}

/* Global styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: uppercase;
}

/* global fonts for web-page */
body {
    background-color: #f2f2f2;
    font: 400 14px "PTsans", sans-serif;
}

/* styles for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "PTsansBold", sans-serif;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/* wrapper of the site */
.wrapper {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

header,footer {
    padding: 0px 6%;
}

section {
    padding: 56px 0;
}

/* clearfix */
.clearfix:after {
    clear: both;
    content: '';
    display: table;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
}

/* lines around numbers */
.linesForNumbers {
    display: inline-block;
    position: relative;
}
.linesForNumbers:before,
.linesForNumbers:after {
    content: '';
    background-color: #fff;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 10px;
}
.linesForNumbers:before {
    left: -15px;
}
.linesForNumbers:after {
    right: -15px;
}

/* Global button styles */
.button {
    border: none;
    color: rgba(255,255,255,1);
    cursor: pointer;
    display: inline-block;
    font: 700 1.500em "PTsansBold", sans-serif;
    outline: none;
    transition: all .25s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button:active {
    color: rgba(255,255,255,.5);
}

/* blue button */
.button-blue {
    background-color: #81b3d2;
}
.button-blue:hover {
    background-color: #669ec0;
}
.button-blue:active {
    background-color: #5496bd;
}

/* brown button */
.button-brown {
    background-color: #766357;
}
.button-brown:hover {
    background-color: #604e43;
}
.button-brown:active {
    background-color: #503e33;
}

/* large button */
.button-large {
    max-width: 570px;
    padding: 30px 0;
    width: 100%;
}

/* button social */
.button-social {
    height: 46px;
    width: 46px;
}

/* increase & decrease */
.button-searchForm {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.5);
    font: 700 1.500em "PTsansBold", sans-serif;
    height: 38px;
    width: 38px;
}
/* increase & decrease */
.button-searchForm:hover {
    color: #000;
}
.button-searchForm:active {
    color: #81b3d2;
}

/* Button for search form */
.button-largeBlue {
    margin-top: 26px;
    padding: 15px 0;
}


/* Header block */
.header {
    background: #fff url(../img/header-bg.png) no-repeat top 45px center;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 0;
    position: relative;
    text-align: center;
}

/* Logo */
.logo {
    font-size: 0;
    left: 50%;
    margin-left: -67px;
    position: absolute;
    text-align: center;
    top: 0;
}
.logo img {
    height: auto;
    max-width: 138px;
    width: 100%;
}

/* Navigation */
nav {
    background-color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.mnu li {
    padding: 20px 0;
    width: 20%;
}
.mnu a {
    color: #000;
    font: 700 14px "PTsansBold", sans-serif;
    text-decoration: none;
}
.mnu a:hover {
    color: #81b3d2;
}
.mnu a:active {
  color: rgba(0,0,0,.5);
}
.mnu-left {
    float: left;
}
.mnu-right {
    float: right;
}

/* Header content */
.header_content_shadow {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.header_content-img {
    margin: 135px auto 80px;
    max-width: 458px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.header_content img:last-child {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

/* Main block */
/* intro */
.intro {
    padding-bottom: 0;
}
.intro > h2 {
    font-size: 1.500em;
    max-width: 500px;
}
.intro > h2 + p {
    margin: 30px auto 55px;
    text-align: center;
}

.intro_content_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
}
.intro_content_item2 {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.intro_content_item-content {
    background-color: #81b3d2;
    color: #fff;
    line-height: 1;
    padding: 54px 6%;
    text-align: center;
    width: 34%;
}
.intro_content_item-content h4 + p {
    display: inline-block;
    margin: 28px 0 25px;
    position: relative;
}
.intro_content_item-content p:last-child {
    line-height: 1.4;
}
.intro_content_item-content h4 {
    font-size: 1.500em;
}

.wrapper .intro_content_item-imgBg {
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 244px;
    width: 67%;
}
.intro_content_item1 .intro_content_item-imgBg {
    background: #fff url(../img/pic1.png) no-repeat center center;
}
.intro_content_item2 .intro_content_item-imgBg {
    background: #fff url(../img/pic2.png) no-repeat center center;
}

/* advantages */
.advantages {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.advantages_item {
    padding: 60px 6% 80px;
    text-align: center;
    width: 33.333%;
}
.advantages_item h3 {
    font: 700 21px "PTsansBold", sans-serif;
    margin: 22px 0 20px;
}
.advantages_item p:last-child {
    line-height: 1.5;
}

/* items list */
.itemsList {
    background-color: #eeeeee;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.itemsList_item {
    padding: 45px 5% 60px;
    text-align: center;
    width: 33.333%;
}
.itemsList_item h3 {
    font-size: 1.500em;
    line-height: 1.1;
    margin-top: 2px;
}
.itemsList_item h3 + p {
    margin: 22px 0 25px;
}
.itemsList_item .linesForNumbers:before,
.itemsList_item .linesForNumbers:after {
    background-color: #000;
}

/* Form section */
.formSection {
    padding-bottom: 0;
    position: relative;
    text-align: center;
}
.formSection > h2 {
    font-size: 30px;
    margin-top: -4px;
}
.formSection > h2 + p {
    line-height: 1.5;
    margin: 25px auto 50px;
    max-width: 500px;
    text-align: center;
    width: 100%;
}
/* search form */
.searchForm {
    background-color: #fff;
    left: 50%;
    margin-left: -285px;
    max-width: 570px;
    padding: 56px;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    width: 100%;
    z-index: 10;
}
.formSection > label {
    cursor: pointer;
}
.searchForm-show {
    display: block;
}
.searchForm label {
    font: 700 14px "PTsansBold", sans-serif;
}
.input-show-hotels {
    display: none;
}
.input-show-hotels:checked + .searchForm {
    opacity: 1;
}
.searchForm_item {
    margin-bottom: 30px;
}
.searchForm_item:nth-child(2) {
    margin-bottom: 30px;
}
.searchForm_dateWrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    position: relative;
}
.searchForm_dateWrapper input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    color: #000;
    font: 700 14px "PTsans", sans-serif;
    max-width: 342px;
    outline: none;
    padding: 7px 15px;
    width: 100%;
}
.searchForm_dateWrapper input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}
.searchForm_dateWrapper input:active,
.searchForm_dateWrapper input:focus {
    background-color: #fff;
    border: 2px solid #ebebeb;
}
.searchForm_dateWrapper button {
    background: transparent url(../img/icons/calendar.png) no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
    height: 22px;
    margin-top: -11px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 22px;
}
.searchForm_dateWrapper button:hover {
    background-position: 0 -39px;
}
.searchForm_dateWrapper button:active {
    background-position: 0 -77px;
}
.setPlaces {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
setPlaces label {
    font-weight: bold;
}
.setPlaces-inner {
    justify-content: space-between;
    width: 50%;
}
.setPlaces-inner:last-child {
    padding-left: 53px;
}
.setPlaces input[type=text] {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.5);
    border: none;
    display: inline-block;
    height: 38px;
    text-align: center;
    width: 38px;
}
.setPlaces_numWrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
}

/* Map */
.map {
    background: #b8b5b2 url(../img/map-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 590px;
    padding: 0;
    position: relative;
}
.map_overlay {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.map iframe {
    height: 100%;
    width: 100%;
}

/* Footer */
.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    
    background-color: rgba(255,255,255,.5);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 38px 6%;
    position: absolute;
    width: 100%;
}
.footer.footer-inner {
    position: static;
}
.footer_item {
    height: 46px;
    text-align: center;
    width: 25%;
}
.footer_item:nth-child(2) {
    width: 50%;
}
.footer_item:last-child {
    margin-right: 15px;
}

.footer_hashTag a {
    color: #000;
    font: 700 1.500em "PTsansBold", sans-serif;
    text-decoration: none;
}
.footer_hashTag a:hover {
    color: #766357;
}
.footer_hashTag a:active {
    color: rgba(0,0,0,.5);
}

.footer_hashTag,
.footer_social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.footer_social {
    padding-top: 2px;
    padding-left: 30px;
}
.footer_social li {
    font-size: 0;
    display: inline-block;
    margin-right: 8px;
}
.footer_website {
    padding-top: 4px;
    padding-left: 35px;
}

.footer_social-buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.footer_social-buttons:active img {
    opacity: 0.5;
}

.htmlacademy {
    background: transparent url(../img/developer.png) no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    height: 40px;
    margin: 3px auto;
    max-width: 196px;
    width: 100%;
}
.htmlacademy:hover {
    background-position: 0 -56px;
}
.htmlacademy:active {
    background-position: 0 -112px;
}


@media all and (max-width: 600px) {
    .header {
        padding: 0;
    }
    nav {
        position: relative;
    }
    .logo {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        text-align: center;
    }
    .header_content_shadow {
        display: block;
    }
    .mnu li {
        border-bottom: 1px solid #000;
        display: block;
        float:none;
        padding: 10px 0;
        width: 100%;
    }
    .mnu li:first-child {
        border-top: 1px solid #000;
        margin-top: 15px;
    }
    .mnu li a {
        display: inline-block;
        text-align: center;
    }
    
    .intro_content_item1 {
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .intro_content_item {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .intro_content_item-content,
    .wrapper .intro_content_item-imgBg {
        width: 100%;
    }
    
    .header_content_wrapper {
        background-color: rgba(0,0,0,.3);
        display: block;
    }
    .header_content img:first-child {
        margin: 50px 0;
    }
    
    .advantages,
    .itemsList {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .advantages_item,
    .itemsList_item {
        padding: 10px;
        width: 100%;
    }
    .advantages_item:first-child,
    .itemsList_item:first-child {
        padding-top: 30px;
    }
    .advantages_item:last-child,
    .itemsList_item:last-child {
        padding-bottom: 30px;
    }
    
    .searchForm {
        height: auto;
        display: block;
        opacity: 1;
    }
    .searchForm_item.setPlaces {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .setPlaces-inner,
    .setPlaces-inner:last-child {
        padding: 0;
        width: 100%;
    }
    
    .footer {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .footer_item {
        width: 100%;
    }
    .footer_item:nth-child(2) {
        margin-bottom: 15px;
    }
}

@media all and (max-width: 570px) {
    .searchForm {
        left: 0;
        margin-left: 0;
        padding: 30px;
        position: relative;
    }
}